@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}

.filter-main-box:hover .myFilter {
  background-color: rgba(255, 255, 255, 0.08);
}
.accordion-button:not(.collapsed) {
  color: #000 !important;
  opacity: 0.8 !important;
}
.accordion-button:not(.collapsed):after {
  background-image: url('./Assets/minus-sign.png') !important;
}

.accordion-button:after {
  background-image: url('./Assets/plus.png') !important;
}
